<div class="blog row mb-4">
  <div class="col-md-4">
    <h2>
      <a href="/">Title</a>
    </h2>
  </div>
  <div class="col-md-4">
    <h2>
      <a href="/">Description</a>
    </h2>
  </div>
  <div class="col-md-4">
    <h2>
      <a href="/">Created by:</a>
    </h2>
  </div>
</div>
<div class="blog row mb-4">
  {{#each blog}}

    <div class="col-md-4">
      <h2>
        {{title}}
      </h2>

    </div>
    <div class="col-md-4">
      <h4>
        {{description}}
      </h4>

    </div>
    <div class="col-md-3">
      <h4>
        {{user.name}}
      </h4>
    </div>

  {{/each}}
</div>